<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LadbOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--позвольте вашему приложению иметь возможность соединения сети -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--Разрешите вашему приложению проверять статус соединения сети телефона. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--сохранить файл на SD-карте - разрешение -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--читать из файла на SD-карте - разрешение -->
    <application
        android:name=".ValuesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" android:theme="@style/SplashTheme" > <!--установить нужную ориентацию - портретный режим -->
            <!--android:theme="@style/SplashTheme" убираю тему  вывода лого - без нее выводится белое активити -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--
    показывает системе, что Activity является основной и будет
    первой отображаться при запуске приложения
                -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!--
 приложение будет отображено в
    общем списке приложений Android
                -->
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Sifu"
            android:label="@string/sifu" />
        <activity
            android:name=".N_zad"
            android:label="@string/N_zad" />
        <!-- объявить класс, реализующий android.app.Application -->
        <activity
            android:name=".ZIS"
            android:label="@string/ZIS" />
        <activity
            android:name=".Cher_faz"
            android:label="@string/ChF">
        </activity>
    </application>

</manifest>